

/*Styling*/

*{
  box-sizing: border-box;
  font-family: Tahoma, Geneva, sans-serif;
}

html {
  background-image: url("mainBackground.jpg");
  background-repeat: repeat;
}

h2 {
  color: #7F8C8D;
  font-size: 125%;
}

body {
  color: #BA4A00;
}

h1 {
  color: #34495E;
  font-size: 300%;
  text-align: center;
}

#section1 {
  background-color: #FFFFFF ;
}
#section2 {
  background-color: #E8F6F3;
}
#section3 {
  background-color: #D0ECE7;
}


/*Basic framework for Module 2 Assignment*/
/*Desktop Sites Only*/
.row{
  width: 100%;
}

@media (min-width: 992px) {
  .col-dsk-1, .col-dsk-2, .col-dsk-3, .col-dsk-4, .col-dsk-5, .col-dsk-6, .col-dsk-7, .col-dsk-8, .col-dsk-9, .col-dsk-10, .col-dsk-11, .col-dsk-12{
  	float:left;
  	border: 1px solid black;
  }
  .col-dsk-1 {
  	width: 8.33%;
  }
  .col-dsk-2 {
  	width: 16.66%;
  }
  .col-dsk-3 {
  	width: 25%;
  }
  .col-dsk-4 {
  	width: 33.33%;
  }
  .col-dsk-5 {
  	width: 41.66%;
  }
  .col-dsk-6 {
  	width: 50%;
  }
  .col-dsk-7 {
  	width: 58.33%;
  }
  .col-dsk-8 {
    width: 66.66%;
  }
  .col-dsk-9 {
    width: 74.99%;
  }
  .col-dsk-10 {
    width: 83.33%;
  }
  .col-dsk-11 {
    width: 91.66%;
  }
  .col-dsk-12 {
    width: 100%;
  }
}

/********** Tablet devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-tb-1, .col-tb-2, .col-tb-3, .col-tb-4, .col-tb-5, .col-tb-6, .col-tb-7, .col-tb-8, .col-tb-9, .col-tb-10, .col-tb-11, .col-tb-12 {
    float: left;
    border: 1px solid black;
  }
  .col-tb-1 {
    width: 8.33%;
  }
  .col-tb-2 {
    width: 16.66%;
  }
  .col-tb-3 {
    width: 25%;
  }
  .col-tb-4 {
    width: 33.33%;
  }
  .col-tb-5 {
    width: 41.66%;
  }
  .col-tb-6 {
    width: 50%;
  }
  .col-tb-7 {
    width: 58.33%;
  }
  .col-tb-8 {
    width: 66.66%;
  }
  .col-tb-9 {
    width: 74.99%;
  }
  .col-tb-10 {
    width: 83.33%;
  }
  .col-tb-11 {
    width: 91.66%;
  }
  .col-tb-12 {
    width: 100%;
  }
}

/*Mobile Devices Only*/
@media (max-width: 767px) {
  .col-mob-1, .col-mob-2, .col-mob-3, .col-mob-4, .col-mob-5, .col-mob-6, .col-mob-7, .col-mob-8, .col-mob-9, .col-mob-10, .col-mob-11, .col-mob-12 {
    float: left;
    border: 1px solid black;
  }
  .col-mob-1 {
    width: 8.33%;
  }
  .col-mob-2 {
    width: 16.66%;
  }
  .col-mob-3 {
    width: 25%;
  }
  .col-mob-4 {
    width: 33.33%;
  }
  .col-mob-5 {
    width: 41.66%;
  }
  .col-mob-6 {
    width: 50%;
  }
  .col-mob-7 {
    width: 58.33%;
  }
  .col-mob-8 {
    width: 66.66%;
  }
  .col-mob-9 {
    width: 74.99%;
  }
  .col-mob-10 {
    width: 83.33%;
  }
  .col-mob-11 {
    width: 91.66%;
  }
  .col-mob-12 {
    width: 100%;
  }
}

